<app-header
  (search)="onSearch($event)"
  (regionChange)="onRegionChange($event)">
</app-header>

<ion-content>

  <!-- <ion-accordion-group>
    <ion-accordion value="first" toggleIcon="caret-down-circle">
      <ion-item slot="header" color="light">
        <ion-label>Películas y series de TV populares - JustWatch España</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Bienvenida/o a JustWatch España! Aquí podrás encontrar fácilmente dónde ver tus películas y Series en streaming en España...
      </div>
    </ion-accordion>
  </ion-accordion-group> -->

  <div class="section-header">
    <h1>Descubre a diario</h1>
    <span>Usuarios con gustos similares vieron esto</span>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let movie of movies">
        <ion-card>
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Poster" />
          <ion-card-header>
            <ion-card-title>{{ movie.title || movie.name }}</ion-card-title>
            <ion-card-subtitle>{{ movie.release_date || movie.first_air_date }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ movie.overview }}
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="grid-cards">
    <ion-card *ngFor="let movie of movies">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Poster" />
      <ion-card-header>
        <ion-card-title>{{ movie.title || movie.name }}</ion-card-title>
        <ion-card-subtitle>{{ movie.release_date || movie.first_air_date }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ movie.overview }}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
