<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Descubri Daily</ion-card-title>
      <ion-card-subtitle>¿Por qué ver Tierra de mafiosos?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="assets/avatar.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Héctor Llanos Martínez</h2>
          <p>Editor de Just...</p>
        </ion-label>
      </ion-item>

      <ion-img src="assets/Tierra_de_mafiosos.jpg" />

      <h3 class="ion-margin-top">Mafia con un toque british</h3>
      <p>
        A pesar de que tanto el director Guy Ritchie como el actor Tom Hardy están bastante encasillados, el formato serie les sienta bien a la hora de renovar sus manidos patrones. Serie de mafiosos en pleno Londres, con un estilo britán...
      </p>

      <ion-button expand="block" color="primary">Leer más</ion-button>

      <ion-item lines="none">
        <ion-label>¿Te resultó útil?</ion-label>
        <ion-badge slot="end">149</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

